---
import "@/styles/reset.css";
---

<body>
  <div class="play">
    <div class="card">
      <img
        src="https://cards.scryfall.io/small/front/6/d/6da045f8-6278-4c84-9d39-025adf0789c1.jpg?1562404626"
        alt=""
      />
    </div>
    <div class="card tapped">
      <img
        src="https://cards.scryfall.io/small/front/6/d/6da045f8-6278-4c84-9d39-025adf0789c1.jpg?1562404626"
        alt=""
      />
    </div>
  </div>
  <div class="search"></div>
  <div class="hand flex">
    <div class="card">hello</div>
    <div class="card">hello</div>
    <div class="card">hello</div>
    <div class="card">hello</div>
    <div class="card">hello</div>
    <div class="card">hello</div>
    <div class="card">hello</div>
  </div>
  <div class="scry"></div>
</body>

<style>
  body {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 204px;
    gap: 8px;
    padding: 8px;
  }

  .play {
    overflow: hidden;
    padding: 8px;
    background: teal;
  }
  .search {
    background: yellow;
  }

  .card {
    width: 146px;
    height: 204px;
    background: #00ffa8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .tapped {
    transform: rotate(90deg);
  }

  .flex {
    display: flex;
  }
  .hand {
    min-width: 200px;
  }
</style>
