---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("about");
  const t = entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
  return t;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <h2>{entry.data.title}</h2>
  <Content />
</Layout>

<style></style>
