---
import Layout from "@/layouts/Layout.astro";
---

<Layout icon="📠">
  <h2>about<span>:blank</span></h2>
  <q>Blog was made to be built, not to be written.</q>
</Layout>

<style>
  h2 > span {
    color: var(--bg);
  }
</style>
