---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="hi." icon="🌲">
  <h1>hi.</h1>
  <h2>hi.</h2>
  <h3>hi.</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio
    perspiciatis nesciunt? Quod nam tempora, excepturi sapiente officiis
    eligendi incidunt.
  </p>
  <pre>pre</pre>
  <kbd>pre</kbd>
  <div class="swatches">
    <q>Four colors should be more than enough for any interfaces</q>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</Layout>
