---
import Layout from "@/layouts/Layout.astro";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>resume</title>
</head>
<main class="grid">
  <section class="name">
    <h1>Lưu Đăng Hà</h1>
    <span>/ha/</span>
    <h5>Front-end Engineer</h5>
  </section>
  <section class="info">
    <ul>
      <li>hi [at] viole.in</li>
      <li>+84 357 095 092</li>
      <li>
        <a href="https://github.com/violeine">https://github.com/violeine</a>
      </li>
    </ul>
  </section>
  <section class="technical">
    <h2>Technical Skills</h2>
    <ul>
      <li><strong>Programing languagues:</strong> JavaScript, TypeScript,</li>
      <li>Web development: HTML, CSS, Tailwind CSS</li>
      <li>Front-end framework: React, Next.js</li>
      <li>Miscellaneous: Node.js, Git, Docker, Unix, Vim,...</li>
    </ul>
  </section>
  <section class="education">
    <h2>Education</h2>
    <section>
      <section>
        <h3>University of Information Technology</h3>
        <ul>
          <li>Engineer's degree in network & communication system</li>
          <li>Gpa: 7.0/10; Undergraduate, est. 2022</li>
        </ul>
      </section>
      <section>
        <p>National University, Hồ Chí Minh</p>
        <p>2018-now</p>
      </section>
    </section>
  </section>
  <section class="experience">
    <h2>Work Experience</h2>
    <section>
      <div>
        <section>
          <h3>Be Group</h3>
          <p>Web Engineer</p>
        </section>
        <section>
          <p>May 2021-now</p>
        </section>
      </div>
      <p>
        Working on "BizOps", an admin portal for managing most services related
        to customers at be.
      </p>
      <p>My role here included:</p>
      <ul>
        <li>
          Front-end Development:
          <span
            >Maintain existing production applications, handle production
            incidents and build new features for the application
          </span>
        </li>
      </ul>
      <p>Notable works:</p>
      <ul>
        <li>
          Chat center:
          <span
            >Maintainer, built upon WebSocket, helps bridge the gap of
            communication between customers and be's services</span
          >
        </li>
        <li>
          Call center:
          <span
            >Main developer/maintainer, a combination between WebRTC and
            Websocket to provide another way to receiving feedback from
            customers</span
          >
        </li>
      </ul>
    </section>
  </section>
  <section class="projects">
    <h2>Projects & Contributions</h2>
    <section>
      <ul>
        <li>
          <a href="https://violeine.github.io/daphDVD">daphdvd:</a>
          <span
            >Intro screen for streamer
            <a href="https://twitch.tv/39daph">39daph</a>
            on twitch.tv.</span
          >
        </li>
        <li>
          <a href="https://github.com/violeine/fu.nc">fu.nc:</a>
          <span
            >Bunch of api leverage Nextjs's api route including export pdf,
            create rounded favicon from Github.</span
          >
        </li>
        <li>
          <a href="https://github.com/violeine/re.sume">re.sume:</a>
          <span
            >Resume built with tailwindcss, print-ready, support export to pdf
            through nextjs api function.</span
          >
        </li>
        <li>
          <a href="https://github.com/moaijs/moai">Moai</a>
          &
          <a href="https://github.com/beVietnam/banhmi">Bánh Mì:</a>
          <span
            >Small contribution to these UI kits. The first is a small
            components library, designed to comunicate how things work. The
            latter is a be's design system on top of moai.
          </span>
        </li>
      </ul>
    </section>
  </section>
</main>
<style>
  .grid {
    display: grid;
    max-width: 48rem;
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    align-items: baseline;
  }
  .name {
    grid-column: 1 / span 4;
  }
  .info {
    grid-column: 5 / -1;
    text-align: right;
  }
  .technical {
    grid-column: 1 / -1;
  }

  .education {
    grid-column: 1 / -1;
  }

  .experience {
    grid-column: 1 / -1;
  }
  .projects {
    grid-column: 1 / -1;
  }
</style>
