---
export interface Props {
  title?: string;
  icon?: string;
  span?: ICell["span"];
  noScroll?: boolean;
  debug?: boolean;
}

const { icon, span, noScroll, debug } = Astro.props;

import "@fontsource-variable/lexend-deca";
import "@fontsource-variable/jetbrains-mono";

import "@/styles/base.css";
import Grid from "@/components/grid.astro";
import Cell, { Props as ICell } from "@/components/cell.astro";
import Nav from "@/components/nav.astro";

const title = Astro.props.title ?? Astro.url.pathname.split("/").at(-2);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/font-et-book/0.1/et-book.min.css"
    />
    <title>{title}</title>
    <link
      rel="icon"
      href={`data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>${
        icon ?? "🗿"
      }</text></svg>`}
    />
  </head>
  <body class:list={{ noScroll, "base-grid": debug }}>
    <Grid columns={8}>
      <Cell span="1-2">
        <Nav />
      </Cell>
      <Cell span={span ?? "3.."}>
        <slot />
      </Cell>
    </Grid>
  </body>

  <style>
    .noScroll {
      display: flex;
      height: 100vh;
    }
  </style>
</html>
