:first-child {margin-top: unset}
:last-chlild {margin-bottom: unset}
:root {
	--fontSize: 16px;
	--lineHeight: calc(var(--fontSize) * 1.5);
	--baseline: calc(var(--lineHeight) / 2);
	--columnGap: calc(var(--lineHeight)*2);
	--blockSpacingTop: 0;
	--blockSpacingBottom: calc(var(--lineHeight)*1);
	--h1-size: 2.8rem;
	--h2-size: 2.2rem;
	--h3-size: 1.4rem;
	--h4-size: 1.1rem;
	--bg: #199b8d;/*#005f5a;*/
	--app: #f3e9eb;
	--fg: #000000;
	--sel: #123456;
}

html {
	font-family: "Lexend DecaVariable", sans-serif;
	font-weight: 300;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
}

body {
	box-sizing: border-box;
	margin: 0 auto;
	min-height: 100vh;
	overflow-x: hidden;
	padding: calc(var(--lineHeight) * 2);
	padding-bottom: calc(var(--lineHeight) * 3);
	background-color: var(--app);
	color: var(--fg);
}

body::after {
    content: "";
    inset: 0;
    position: fixed;
    pointer-events: none;
    background: url("/favicon.svg");
    /* filter: url(#noiseFilter); */
    /* mix-blend-mode: hard-light; */
    opacity: 0.02;
  }

address, article, aside, blockquote, dd, dl, dt, fieldset, figure, form,
r-grid, h1, h2, h3, h4, h5, h6, li, nav, ol, p, pre, table, tfoot, ul, video {
	margin-top: var(--blockSpacingTop);
	margin-bottom: var(--blockSpacingBottom);
}
h1, .h1 {
	font-weight: 600;
	letter-spacing: -0.05em;
	font-size: var(--h1-size);
	line-height: calc(var(--lineHeight)*2);
	margin-left: calc(var(--h1-size) / -22);
}

h2, .h2 {
	font-weight: 500;
	letter-spacing: -0.03em;
	font-size: var(--h2-size);
	line-height: calc(var(--lineHeight)*2);
	margin-left: calc(var(--h2-size)/-26);
}

h3, .h3, h4, .h4 {
	font-weight: 400;
	letter-spacing: -0.02em;
	font-size: var(--h3-size);
	padding-top: calc(var(--baseline) * 0.75);
	padding-bottom: calc(var(--baseline) * 0.25);
	margin-bottom: var(--baseline);
}

h4, .h4 {
	font-weight: 400;
	letter-spacing: -0.012em;
	font-size: var(--h4-size);
}

nav {
	display: flex;
	gap: var(--columnGap);
	position: fixed;
}

nav ul > li {
	margin-bottom: 0;
}

ul > li {
	margin-bottom: calc(var(--blockSpacingBottom)*0.25)
}

.astro-code {
	border-radius: 0.3125rem;
	border: 1px solid var(--fg);
	font-size: 0.875rem;
	padding: 0.625rem;
}

li:has(a.italic)  {
	list-style: square;
}

q {
	font-family: "et-book";
	font-size: calc(var(--fontSize)*1.2);
}

::selection {
	background-color: var(--bg);
}
