---
import Layout from '@/layouts/Layout.astro'
---
<Layout
    title="ab.out"
    icon="📠"
    cls="font-light bg-gray-800 h-screen w-screen text-gray-50 flex flex-col items-center justify-center"
  >
    <p class="text-3xl">ab.out<span class="text-gray-700">:blank</span></p>
    <div class="h-2"></div>
    <p>this supposed to be my blog, to be written soon™.</p>
    <p>dự kiến là blog của tui, nhưng mà lười quớ.</p>
</Layout>
