<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ab.out</title>

    <link rel="stylesheet" href="tailwind.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📠</text></svg>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&display=swap" rel="stylesheet">
  </head>
  <body
    class="
      font-light
      bg-gray-800
      h-screen
      w-screen
      text-gray-50
      flex flex-col
      items-center
      justify-center
    "
  >
    <p class="text-3xl">ab.out<span class="text-gray-700">:blank</span></p>
    <div class="h-2"></div>
    <p>this supposed to be my blog, to be written soon™.</p>
    <p>dự kiến là blog của tui, nhưng mà lười quớ.</p>
  </body>
</html>
