---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="ab.out"
  icon="📠"
  cls="font-light bg-gray-800 h-screen w-screen text-gray-50 flex flex-col items-center justify-center"
>
  <h2 class="text-3xl">ab.out<span class="text-gray-700">:blank</span></h2>
  <div class="h-2"></div>
  <quote>this supposed to be my blog, to be written soon™.</quote>
  <quote>dự kiến là blog của tui, nhưng mà lười quớ.</quote>
</Layout>
