---
import Layout from '@/layouts/Layout.astro'
---
<Layout title="hi." icon="🌲" cls="bg-gray-800 h-screen w-screen text-gray-50 flex flex-col items-center justify-center font-light">
    <p class="text-3xl">hi.</p>
    <div class="flex space-x-2">
      <a
        href="/si.nk"
        class="underline text-blue-300"
        >si.nk</a
      >
      <a href="/po.rt" class="underline text-blue-300"
        >po.rt</a
      >
      <a
        href="/ab.out"
        class="underline text-blue-300"
        >ab.out</a
      >
      <a
        href="/re.sume"
        class="underline text-blue-300"
        >re.sume</a
      >
    </div>
</Layout>
