<div></div>
<script>
  import p5 from 'p5'
</script>
<script is:inline>
    function setup() {
      createCanvas(500, 500);
    }
    function draw() {
      background(220);
      ellipse(50,50,80,80);
    }
</script>
