---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="hi."
  icon="🌲"
  cls="bg-gray-800 h-screen w-screen text-gray-50 flex flex-col items-center justify-center font-light"
>
  <img
    src="https://github.com/violeine.png"
    alt=""
    class="w-32 h-32 rounded-full"
  />
  <div class="h-2"></div>
  <p class="text-3xl">hà</p>
  <p class="text-lg text-gray-400">@violeine</p>
  <p class="text-gray-300">mar20. web weaver.</p>
  <div class="h-2"></div>
  <div class="flex space-x-3">
    <a
      class="block h-5 w-5 bg-gray-50 rounded-sm"
      href="https://github.com/violeine"
      target="_blank"
      title="github"></a>
    <a
      class="block h-5 w-5 bg-blue-300 rounded-sm"
      target="_blank"
      href="https://t.me/violeine"
      title="telegram"></a>
    <a
      class="block h-5 w-5 bg-indigo-300 rounded-sm"
      target="_blank"
      href="https://discordapp.com/channels/@me/239745725922017282"
      title="discord"></a>
    <a
      class="block h-5 w-5 bg-purple-300 rounded-sm"
      title="mail"
      href="mailto:haluudang@gmail.com"></a>
  </div>
</Layout>
