---
import Layout from '@/layouts/Layout.astro'
---
<Layout title="re.sume" icon="✍️<">
  <main
    class="my-0 mx-auto max-w-3xl px-12 py-16 font-light print:p-0 print:normal-case"
  >
    <header class="block sm:flex items-start border-b pb-4">
      <section>
        <div class="flex space-x-2 items-baseline">
          <h1 class="text-3xl block">Lưu Đăng Hà</h1>
          <span class="text-gray-400">/ha/</span>
        </div>
        <h2 class="text-gray-600">Front-end Engineer</h2>
      </section>
      <section class="sm:ml-auto text-right text-gray-700">
        <p class="cursor-pointer">hi [at] viole.in</p>
        <p class="cursor-pointer">+84 357 095 092</p>
        <p class="cursor-pointer"><a class="hover:underline" href="https://github.com/violein">https://github.com/violeine</a></p>
      </section>
    </header>
    <div class="h-8 w-8"></div>
    <section class="hidden">
      <p class="text-gray-700">
        My name is
        <span class="text-black font-normal">Hà</span>,
        <strong class="text-black font-normal">violeine</strong> is my gamer
        tag (lole).
      </p>
      <p class="text-gray-700">
        Born march, noon the twentieth, midst of hồ chí minh city.
      </p>
      <p class="text-gray-700">Seek novelty, make "sputid" stuff.</p>
      <p class="text-gray-700">Do web, usually play games (mostly tbh).</p>
    </section>
    <section>
      <p class="text-gray-700 max-w-[60ch]">
        I'm a front-end engineer with solid experience in designing, building
        usable, maintainable interfaces. With experience in front-end
        development and always eager to learn new things, I'm confident to
        work effectively under various circumstances, either self-managed in
        independent projects, or collaborate as part of productive teams.
      </p>
    </section>
    <div class="h-8 w-8"></div>
    <section class="space-y-4">
      <h1 class="text-3xl">Technical Skills</h1>
      <p class="text-gray-600">
        <span class="text-gray-900 text-lg">Programing languagues:</span>
        JavaScript, TypeScript, Clojure(script)
        <br />
        <span class="text-gray-900 text-lg">Web development:</span>
        HTML, CSS, Tailwind CSS
        <br />
        <span class="text-gray-900 text-lg">Front-end framework:</span>
        React, Next.js
        <br />
        <span class="text-gray-900 text-lg"
        >Miscellaneous:</span
        >
        Node.js, Git, Docker, Unix, Vim,...
        <br />
      </p>
    </section>
    <div class="h-8 w-8"></div>
    <section class="space-y-4">
      <h1 class="text-3xl">Education</h1>
      <section class="flex items-baseline">
        <section>
          <h3 class="text-xl text-gray-900">
            University of Information Technology
          </h3>
          <ul>
            <li class="text-gray-600">
              Engineer's degree in network & communication system
            </li>
            <li class="text-gray-600">
              Gpa: 7.0/10; Undergraduate, est. 2022
            </li>
          </ul>
        </section>
        <section class="ml-auto text-right text-gray-600 flex-grow">
          <p>National University, Hồ Chí Minh</p>
          <p>2018-now</p>
        </section>
      </section>
      <section class="flex items-baseline">
        <section>
          <h3 class="text-xl text-gray-900">Gia Định highschool</h3>
          <p class="text-gray-600">Specialized class in computer science</p>
        </section>
        <section class="ml-auto text-right text-gray-600">
          <p>Hồ Chí Minh city</p>
          <p>2015-2018</p>
        </section>
      </section>
    </section>
    <div class="h-8 w-8"></div>
    <section class="space-y-4">
      <h1 class="text-3xl">Work Experience</h1>
      <section>
        <div class="flex items-baseline mb-3">
          <section>
            <h3 class="text-xl text-gray-900">Be Group</h3>
            <p class="text-gray-700 text-lg">Web Engineer</p>
          </section>
          <section class="ml-auto text-right text-gray-600">
            <p>May 2021-now</p>
          </section>
</div>
<p class="max-w-prose text-gray-600">
Working on "BizOps", an admin portal for managing most services
          related to customers at be.
        </p>
        <p class="text-gray-600">My role here included:</p>
        <ul class="list-disc list-outside px-8">
          <li>
            Front-end Development:
            <span class="text-gray-600"
            >Maintain existing production applications, handle production
              incidents and build new features for the application
            </span>
          </li>
        </ul>
        <p class="text-gray-600">Notable works:</p>
        <ul class="list-disc list-outside px-8">
          <li>
            Chat center:
            <span class="text-gray-600"
            >Maintainer, built upon WebSocket, helps bridge the gap of
              communication between customers and be's services</span
            >
          </li>
          <li>
            Call center:
            <span class="text-gray-600"
            >Main developer/maintainer, a combination between WebRTC and
              Websocket to provide another way to receiving feedback from
              customers</span
            >
          </li>
        </ul>
      </section>
    </section>
    <div class="h-8 w-8"></div>
    <section class="space-y-4">
      <h1 class="text-3xl">Projects & Contributions</h1>
      <section>
        <ul class="list-disc px-4">
          <li>
            <a
              href="https://violeine.github.io/daphDVD"
              class="text-xl text-blue-600 visited:text-indigo-600"
            >daphdvd:</a
            >
            <span class="text-gray-600"
            >Intro screen for streamer
              <a
                class="text-blue-600 visited:text-indigo-600"
                href="https://twitch.tv/39daph"
              >39daph</a
              >
              on twitch.tv.</span
            >
          </li>
          <li>
            <a
              href="https://github.com/violeine/fu.nc"
              class="text-xl text-blue-600 visited:text-indigo-600"
            >fu.nc:</a
            >
            <span class="text-gray-600"
            >Bunch of api leverage Nextjs's api route including export pdf,
              create rounded favicon from Github.</span
            >
          </li>
          <li>
            <a
              href="https://github.com/violeine/re.sume"
              class="text-xl text-blue-600 visited:text-indigo-600"
            >re.sume:</a
            >
            <span class="text-gray-600"
            >Resume built with tailwindcss, print-ready, support export to
              pdf through nextjs api function.</span
            >
          </li>
          <li>
            <a
              href="https://github.com/moaijs/moai"
              class="text-xl text-blue-600 visited:text-indigo-600"
            >Moai</a
            >
            &
            <a
              href="https://github.com/beVietnam/banhmi"
              class="text-xl text-blue-600 visited:text-indigo-600"
            >Bánh Mì:</a
            >
            <span class="text-gray-600"
            >Small contribution to these UI kits. The first is a small
              components library, designed to comunicate how things work. The
              latter is a be's design system on top of moai.
            </span>
          </li>
        </ul>
      </section>
    </section>
  </main>
  <div
    class="fixed bottom-10 right-10 flex space-x-3 items-center print:hidden"
  >
    <a href="https://violeine.vercel.app/api/pdf">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 stroke-gray-300 hover:stroke-gray-600"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"
        />
      </svg>
    </a>
    <a href="https://github.com/violeine/re.sume">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 fill-gray-300 hover:fill-gray-600"
        viewBox="0 0 1024 1024"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
          transform="scale(64)"
        />
      </svg>
    </a>
  </div>
</Layout>
