---
interface Props {
  columns: number;
  gap?: number;
}

const { columns, gap } = Astro.props;
//TODO: fix column gap
---

<div class="grid" data-grid={columns}><slot /></div>

<style
  define:vars={{
    columns,
    gap: gap !== undefined ? `${gap}px` : "var(--columnGap)",
  }}
>
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gap);
    --grid-col-start: 1;
    --grid-col-end: -1;
    width: 100%;
    min-height: 0;
    min-width: 0;
  }
</style>
