---
import Base from "@/layouts/Base.astro";
import Grid from '@/components/grid.astro';
import Cell from '@/components/cell.astro'
import {Run, Step, Pause, State, Loader, Instruction} from '@/lib/chip8/ui.jsx';
import {Display} from '@/lib/chip8/web.jsx'
---
<Base noScroll>
  <Grid columns={8} gap={8}>
      <Cell span="1-2">
      <h2>Chip8 Emulator</h2>
        <State client:load/>
      </Cell>
      <Cell span="3-6">
      <Grid columns={8}>
        <Cell span={2}>
          <Loader client:load /> 
          <Run client:load />
          <Step client:load/>
          <Pause client:load />
        </Cell>
        <Cell span="3..">
          <Display client:load/>
        </Cell>
      </Grid>
      </Cell>
      <Cell span="7-8">
      <Instruction client:load/>
    </Cell>
  </Grid>
</Base>
