---
import Layout from "@/layouts/Layout.astro";
import { dump } from "@/lib/chip8/rom";
import {CPU, load, run } from "@/lib/chip8/chip8";
import { instructions } from "@/lib/chip8/instruction";
import {Display} from '@/lib/chip8/web';

const { d, rom } = await dump();
const r = instructions[2].parse(0x1111);
load(rom);
run();
---

<Layout>
  <h2>CHIP8 Emulator</h2>
  <code>{d.join("\n")}</code>
  <hr />
  <Display />
</Layout>
