---
import Layout from "@/layouts/Layout.astro";
import Grid from "@/components/grid.astro";
import Cell from "@/components/cell.astro";
---

<Layout title="sink" icon="🚰">
  <h2>🚰 sink</h2>
  <h3>hot mess of little and fun experiments</h3>
</Layout>
