---
import Layout from "@/layouts/Layout.astro";

import Grid from "@/components/grid.astro";
import { Theme } from "@/components/theme";

const res = await fetch("https://regret.rat-bushi.ts.net/api", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Authorization: "Bearer test",
  },
  body: JSON.stringify({
    method: "logseq.db.q",
    args: ["(property :quote)"],
  }),
}).then((r) => r.json());

const transform = res.map((el) => el.properties);
---

<Layout>
  <Grid columns={3} gap={8}>
    {
      transform.map((t) => (
        <div class="ig">
          <p>
            <q>{t.quote.split(".").join(".\n")}</q>
            <br />—{t.from ?? t?.book}
          </p>
        </div>
      ))
    }
    <Theme client:load />
  </Grid>
</Layout>

<style>
  .ig {
    font-family: "et-book";
    background-color: var(--sel);
    color: var(--app);
    text-align: right;
    justify-content: right;
    aspect-ratio: 1 / 1;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;

    & q {
      font-size: inherit;
    }
  }
</style>
